@model List<Portfolio.ENTITY.Concrete.Work>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/DashboardLayout.cshtml";

    int i = 0;
}

@if (Model.Count() == 0)
{
    @Html.Partial("Alert")
}

<div class="section-wrapper mb-4">
    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.Title</td>
                        <td>@item.CreateDate.ToShortDateString()</td>
                        <td>@Html.Raw(item.IsActive == true ? "<i class='fa fa-check'></i>" : "<i class='fa fa-close'></i>")</td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-pencil mr-3"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.Id })"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a href="@Url.Action("Create")" class="btn btn-outline-danger btn-block mg-b-10"><i class="fa fa-paper-plane mg-r-5"></i>Create</a>