
@{ 
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim - @this.ViewContext.RouteData.Values["controller"]</title>

    <!-- vendor css -->
    <link href="~/App_Themes/Dashboard/slim/app/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/App_Themes/Dashboard/slim/app/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/App_Themes/Dashboard/slim/app/lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="~/App_Themes/Dashboard/slim/app/css/slim.css">
    <link rel="stylesheet" href="~/App_Themes/Dashboard/slim/app/css/slim.one.css">

</head>
<body class="dashboard-3">
    @Html.Partial("Header")

    @Html.Partial("Navbar")

    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("")">@controller</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@action</li>
                </ol>
                <h6 class="slim-pagetitle">@controller</h6>
            </div>

            @RenderBody()
        </div>
    </div>

    <div class="slim-footer">
        <div class="container">
            <p>Copyright 2018 &copy; All Rights Reserved. Slim Dashboard Template</p>
            <p>Designed by: <a href="">ThemePixels</a></p>
        </div><!-- container -->
    </div><!-- slim-footer -->

    <script src="~/App_Themes/Dashboard/slim/app/lib/jquery/js/jquery.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/popper.js/js/popper.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/d3/js/d3.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/Flot/js/jquery.flot.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/Flot/js/jquery.flot.resize.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/lib/peity/js/jquery.peity.js"></script>

    <script src="~/App_Themes/Dashboard/slim/app/js/slim.js"></script>
    <script src="~/App_Themes/Dashboard/slim/app/js/ResizeSensor.js"></script>
    <script>
        $(function () {
            'use strict'

            var multibar = new Rickshaw.Graph({
                element: document.querySelector('#chartMultiBar1'),
                renderer: 'bar',
                stack: false,
                max: 60,
                series: [{
                    data: [
                        { x: 0, y: 20 },
                        { x: 1, y: 25 },
                        { x: 2, y: 10 },
                        { x: 3, y: 15 },
                        { x: 4, y: 20 },
                        { x: 5, y: 40 },
                        { x: 6, y: 15 },
                        { x: 7, y: 40 },
                        { x: 8, y: 25 }
                    ],
                    color: '#065381'
                },
                {
                    data: [
                        { x: 0, y: 10 },
                        { x: 1, y: 30 },
                        { x: 2, y: 45 },
                        { x: 3, y: 30 },
                        { x: 4, y: 42 },
                        { x: 5, y: 20 },
                        { x: 6, y: 30 },
                        { x: 7, y: 15 },
                        { x: 8, y: 20 }
                    ],
                    color: '#34B2E4'
                }]
            });

            multibar.render();

            // Responsive Mode
            new ResizeSensor($('.slim-mainpanel'), function () {
                multibar.configure({
                    width: $('#chartMultiBar1').width(),
                    height: $('#chartMultiBar1').height()
                });
                multibar.render();
            });

        });
    </script>

</body>
</html>
