@{ 
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link active" href="@Url.Action("Index","Home")">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item with-sub">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-compose-outline"></i>
                    <span>Employee</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li><a href="@Url.Action("Index","About")">About</a></li>
                        <li><a href="@Url.Action("Index","Background")">Background</a></li>
                        <li><a href="@Url.Action("Index","Works")">Work</a></li>
                        <li><a href="@Url.Action("Index","User")">User</a></li>
                    </ul>
                </div>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Contact")">
                    <i class="icon ion-ios-email-outline"></i>
                    <span>Contact</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Calendar")">
                    <i class="icon ion-ios-email-outline"></i>
                    <span>Calendar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Messages")">
                    <i class="icon ion-ios-chatboxes-outline"></i>
                    <span>Messages</span>
                    <span class="square-8"></span>
                </a>
            </li>
        </ul>
    </div><!-- container -->
</div>
